/project_utils/commit_changes_generator/commit_changes.diff
.idea/
/source/core_scrapper/*.json
/source/core_scrapper/*.ipynb
/userdata
*.tmp
/source/gmail_analysis/*.json
*.pickle
/source/gmail_analysis/attachments/
/source/email_results.json
/.env
/project_utils/project_structure_generator/directory_structure.json
/source/secrets/credentials.json
/source/tokens/token.json
/source/attachments/
/source/data/email_results.json
/applications_chart.png
.vercel
/source/logs/
/logs/
/data/
/node_modules/
/.next/
/source/data/applications_chart.png
/source/infrastructure/external_services/core_scrapper/cookies.json
/source/infrastructure/external_services/core_scrapper/test.ipynb
/source/application/data/applications_chart.png
/source/application/data/token.json
/source/application/data/email_results.json
