/project_utils/commit_changes_generator/commit_changes.diff
.idea/
/source/core_scrapper/*.json
/source/core_scrapper/*.ipynb
/userdata
*.tmp
/source/gmail_analysis/*.json
*.pickle
/source/gmail_analysis/attachments/
